---
export interface Props {
  enableWebGPU?: boolean
  debug?: boolean
}

const { enableWebGPU = false, debug = false } = Astro.props

import { HexagonoidsCanvas } from './hexagonoids/HexagonoidsCanvas'
---

<div class="aspect-video hexagonoids-container">
  <HexagonoidsCanvas
    aria-describedby="hexagonoids-description"
    aria-live="polite"
    class="hexagonoids-canvas"
    client:only="solid-js"
    debug={debug}
    enableWebGPU={enableWebGPU}
    role="application"
    tabindex="0"
  />
</div>

<style>
  .hexagonoids-container {
    position: relative;
    /* width: 100%;
    height: 0%;
    padding-bottom: 56.25%;
    overflow: hidden; */
  }
  .hexagonoids-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
